{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>

  {% if 'greeting' in loginInfo %}
  <p class=error>
  {{ loginInfo['greeting']}}
  {% endif %}

  {#
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>
  #}

  {% if 'providers' in loginInfo %}
      {% for provider in loginInfo['providers'] %}
      <p> <a href="{{ provider['url'] }}">{{ provider['name'] }} </a> </p>
      {% endfor %}
  {% endif %}

{% endblock %}
