{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_game') }}" method=post class=add-game>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Num of Player:
        <dd><input type=text size=30 name=num_player>
        <dd><input type=submit value=add>
      </dl>
    </form>
  {% endif %}
  <h2> Avaliable Games </h2>
  <ul class=games>
  {% for game in games %}
    <ul class=game-item>
    <li><h3>{{ game.title }}</h3></li>
    <li>number of players: {{ game.num_player|safe }}</li>
    <li>start time: {{ game.start_time|safe }}</li>
    <li>end time: {{ game.end_time|safe }}</li>
    <li>creation time: {{ game.creation_time|safe }}</li>
    </ul>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
